@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar Firefox */
.scrollbar-hide {
    scrollbar-width: none;
}

/* Hide scrollbar IE & Edge lama */
.scrollbar-hide {
    -ms-overflow-style: none;
}